{% extends "base.html" %}
{% block body %}
<div class="container-fluid">
    <div class="col-sm-9"
      {% for choice in choices %}
        <span><img src="/static/images/{{ choice }}.jpg" class="col-sm-3"></span>
      {% endfor %}
    </div>
    <div class="col-sm-7">
      <br>
      <a href="{{ url_for('spin') }}"><button class="btn btn-success btn-lg pull-right col-sm-3">Spin</button></a>
    </div>
    <div class="col-sm-offset-3 col-sm-6">
      <br>
      <form class="form-horizontal" method="POST" action="{{ url_for('deposit') }}">
          {{ form.csrf_token }}
          <div class="form-group">{{ form.amount.label(class="control-label") }} {{ form.amount }}</div>
          <input type="submit" value="Deposit" class="btn btn-default col-sm-2"/>
      </form>
    </div>
</div>
{% endblock %}